body
{
    font-size: 1.2em;
}
h1::first-letter
{
    font-size:3em;
    font-style: italic;
}
p::first-line
{
    background-color: aquamarine;
}
p::selection
{
    color :rgb(68, 129, 182);
    background-color:rgb(180, 145, 101)
}