body
{
    margin: 0px;
}
.box
{
    border: 6px dotted;
    font-size: 4em;
    width: 300px;
    height: 300px;
}
#box1
{
    background-color: hsl(207, 42%, 45%);
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#box2
{
    background-color: hsl(171, 62%, 33%);
    margin: 67px
}